<ion-header>
  <ion-toolbar>
    <ion-title>Favoris</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-searchbar
    search-icon="location-outline"
    placeholder=" Chercher un coiffeur"
    class="search"
  ></ion-searchbar>

  <ion-card *ngFor="let barber of barbers">
    <div class="image-container" style="display: inline">
      <img class="barbercuts" alt="coupe" [src]="barber.image" />
      <button class="like-button">
        <ion-icon name="heart-outline"></ion-icon>
      </button>
    </div>

    <ion-card-content>
      <img class="barberprofilepicture" alt="profil" [src]="barber.profile" />

      <div class="cardtext">
        <ion-card-title class="barbername">{{barber.name}}</ion-card-title>
        <ion-card-title class="prices">{{barber.price}}</ion-card-title>

        <ion-card-subtitle class="barbertype"
          >{{barber.type}}</ion-card-subtitle
        >
        <ion-card-subtitle class="barberrate"
          >{{barber.rating}} <ion-icon name="star"></ion-icon
        ></ion-card-subtitle>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
